@model Vidly.Models.Movie
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<table>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Id)</td>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
    </tr>
    <tr>

        <td>@Html.DisplayFor(m => m.Id)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr> 
</table>
